@import '../../../../styles/variables';
@import '../../../../styles/functions';
@import '../../../../styles/mixins';

.budget-form-container {
  .budget-form {
    .full-width {
      width: 100%;
      margin-bottom: rem(16);
    }

    .category-option {
      display: flex;
      align-items: center;
      gap: rem(8);

      mat-icon {
        font-size: rem(18);
      }
    }

    .selected-category {
      .category-option {
        display: flex;
        align-items: center;
        gap: rem(8);
      }
    }

    .date-range {
      display: flex;
      gap: rem(16);
      margin-bottom: rem(16);

      .date-field {
        flex: 1;
      }
    }

    .dialog-actions {
      display: flex;
      justify-content: flex-end;
      gap: rem(8);
      padding: rem(16) 0;
    }
  }
}

@include mobile {
  .budget-form-container {
    .budget-form {
      .date-range {
        flex-direction: column;
        gap: rem(16);
      }
    }
  }
}
